<h1>Serviços</h1>

<div class="actions">
  <%= link_to 'Adicionar serviço', new_service_path %>
</div>

<table class="tb_lrg">
  <thead>
    <tr>
      <th class="row_lrg">Descrição</th>
      <th class="row_sml">Qtde</th>
      <th class="row_sml">Valor (R$)</th>
      <th class="row_med">Categoria</th>
      <th class="action_row">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.description %></td>
        <td><%= service.qty %></td>
        <td><%= number_to_currency(service.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td><%= service.category.name if service.category %></td>
        <td><%= link_to image_tag('edit.png'), edit_service_path(service), { title: "Editar", alt: "Editar" } %><%= link_to image_tag('remove.png'), service, method: :delete, data: { confirm: 'Quer realmente REMOVER?' }, title: "Remover", alt: "Remover" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to 'Adicionar serviço', new_service_path %>
</div>