<%= form_for @order, :html => {:class => "_leftalg _bx100pc"}  do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <% if @order.errors.count <= 1 %>
      <h2><%= pluralize(@order.errors.count, "erro") %> impediu esta Ordem de Serviço de ser salva:</h2>
      <% else %>
      <h2><%= pluralize(@order.errors.count, "erro") %> impediram esta Ordem de Serviço de ser salva:</h2>
      <% end %>
      <ul>
      <% @order.errors.each do |i, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :refers_month, "Mês de referência" %><br>
    <%= f.select :refers_month, @month.map { |i, m| [m, i] }, {include_blank: "Selecione o mês"} %>
  </div>
  <div class="actions">
    <%= f.submit "Adicionar" %>
  </div>
<% end %>
