<h1>Ordens de serviço</h1>

<div class="_rightalg _bx30pc">
  <h2 class="hmed">Nova ordem de serviço</h2>
  <%= render 'form' %>
</div>

<table class="tb_med">
  <thead>
    <tr>
      <th>Mês referente</th>
      <th>Serviços</th>
      <th>Suprimentos</th>
      <th>Total</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= @month[order.refers_month] %></td>
        <td><%= order.services.length %></td>
        <td><%= order.supplies.length %></td>
        <% total_v = order.services.map { |s| s.value }.sum + order.supplies.map { |s| s.value }.sum %>
        <td><%= number_to_currency(total_v, unit: "R$ ", delimiter: ".", separator: ",") %></td>
        <td><%= link_to image_tag('details.png'), order, title: "Detalhes", alt: "Detalhes" %><%= link_to image_tag('edit.png'), edit_order_path(order), { title: "Editar", alt: "Editar" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>