<h1>Suprimentos</h1>

<table class="tb_lrg">
  <thead>
    <tr>
      <th class="row_lrg">Descrição</th>
      <th class="row_sml">UND</th>
      <th class="row_sml">Qtde</th>
      <th class="row_sml">Valor (R$)</th>
      <th class="row_med">Categoria</th>
      <th class="action_row">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.description %></td>
        <td><%= supply.unit %></td>
        <td><%= supply.qty %></td>
        <td><%= number_to_currency(supply.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td><%= supply.category.name if supply.category %></td>
        <td><%= link_to image_tag('edit.png'), edit_supply_path(supply), { title: "Editar", alt: "Editar" } %><%= link_to image_tag('remove.png'), supply, method: :delete, data: { confirm: 'Quer realmente REMOVER?' }, title: "Remover", alt: "Remover" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
  <%= link_to 'Adicionar suprimento', new_supply_path %>
</div>